<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Photos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div>
        <img src="https://media.discordapp.net/attachments/1292209835378606111/1292223244627083346/IMG_5654.jpg?ex=6702f42d&is=6701a2ad&hm=b13bf52c7b336c363b496d3d180b726f4aefc251064b31ad2a47fb746fab1b58&=&format=webp&width=934&height=1246" width="250px"/>
    </div>
    <div>
        <iframe src="http://127.0.0.1:5001" height="350px" width="700px"></iframe>
    </div>
</body>
</html>
